.navbarMainContainer {
  width: 100%;
  z-index: 2;
  position: fixed;
  object-fit: contain;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.45s;
}
.logo1 {
  max-width: 80px;
  height: auto;
}
.logo2 {
  max-width: 30px;
}
.navblack {
  background-color: #111;
}
