.row_main_container {
  width: 100%;
  /* border: 1px solid #000000; */
  padding-left: 1rem;
}
.row_main_container > h3 {
  font-weight: 300;
  font-size: 1.15rem;
}
.row_poster {
  /* border: 1px solid green; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
}
.row_poster::-webkit-scrollbar {
  display: none;
}

.poster_container {
  min-width: 7rem;
  height: auto;
  /* border: 2px solid pink; */
  transition: transform 450ms;
  margin-right: 0.6rem;
  cursor: pointer;
}
.row_posterLarge {
  min-width: 8.35rem;
}
.poster_container > img {
  width: 100%;
  height: 100%;
}
.poster_container:hover {
  transform: scale(1.09);
}
.row_posterLarge:hover {
  transform: scale(1.08);
}
